@model Document
@{
    ViewData["Title"] = Model.Name;
}

@section Css {
    <link rel="stylesheet" href="~/lib/highlight.js/styles/dark.min.css" />
}

<div class="container">
    <div id="messageDiv">

    </div>
    <div class="row align-items-center justify-content-end">
        <div class="col">
            <h2 id="documentName">@Model.Name</h2>
            <div id="documentNameDiv" class="d-none">
                <label for="documentNameInput">Title:</label>
                <input id="documentNameInput" type="text" value="@Model.Name"/>
            </div>
        </div>
        <div class="col-auto">
            <button id="toggleEdit" class="btn btn-sm btn-outline-danger">Edit</button>
            <button id="saveEdit" class="btn btn-sm btn-outline-info d-none">Save</button>
        </div>
    </div>
    <hr />
    @if (Model.Type == (int)DocumentType.Image)
    {
        <div>
            <img class="w-75" src="@($"/Images{Model.Path}")"/>
        </div>
    }
    else
    {
        <div id="content" class="content-mode markdown">
            @Html.Raw(@Model.Html)
        </div>
        <div id="edit" data-id="@Model.Id" data-parent-id="@Model.ParentId" data-name="@Model.Name" data-path="@Model.Path" data-type="@Model.Type.ToString("D")" class="edit-mode d-none">
            <textarea id="editTextarea" class="w-100">@Model.Markdown</textarea>
        </div>
    }

</div>

@section Scripts {
    <script src="~/js/document.js" asp-append-version="true"></script>
    <script src="~/lib/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
}
