@model OwlDocument
@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row align-items-center justify-content-end">
        <div class="col">
            <h2>@Model.Name</h2>
        </div>
        <div class="col-auto">
            <button id="toggleEdit" class="btn btn-sm btn-outline-danger">Edit</button>
            <button id="saveEdit" class="btn btn-sm btn-outline-info d-none">Save</button>
        </div>
    </div>
    <hr />
    <div id="content" class="content-mode">
        @Html.Raw(@Model.Html)
    </div>
    <div id="edit" data-id="@Model.Id" data-parent-id="@Model.ParentId" data-name="@Model.Name" data-path="@Model.Path" class="edit-mode d-none">
        <textarea id="editTextarea" class="w-100">@Model.Markdown</textarea>
    </div>
</div>

@section Scripts {
    <script src="~/js/document.js" asp-append-version="true"></script>
}
